In [1]:
# declare a list tasks whose products you want to use as inputs
upstream = ['02-cleanup']
product = None

In [2]:
# Parameters
upstream = {"02-cleanup": {"nb": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/products/cleanup.ipynb", "clean_csv": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/data/house_prices_clean.csv"}}
product = {"nb": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/products/04_transform.ipynb", "transformed_csv": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/data/house_prices_transformed.csv"}

In [3]:
import warnings

warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(upstream['02-cleanup']['clean_csv'])

df.head()

,under_construction,rera,bhk_no,ready_to_move,resale,longitude,latitude,price,area_m2,posted_by_Builder,posted_by_Dealer,posted_by_Owner,bhk_or_rk_BHK,bhk_or_rk_RK
0,0,0,2,1,1,12.969910,77.597960,76835.0,120.795863,0,0,1,1,0
1,0,0,2,1,1,12.274538,76.644605,71247.0,118.451325,0,1,0,1,0
2,0,0,2,1,1,12.778033,77.632191,60071.0,86.693338,0,0,1,1,0
3,0,1,2,1,1,28.642300,77.344500,87312.5,86.392464,0,0,1,1,0
4,1,0,2,0,1,22.592200,88.484911,84518.5,92.810956,0,1,0,1,0

In [6]:
# Scaling
# df['bhk_no'] = np.log(df['bhk_no'] + 1)

In [7]:
df.to_csv(product['transformed_csv'], index=False)