In [1]:
upstream = ['01-get']
product = None

import re

In [2]:
# Parameters
upstream = {"01-get": {"nb": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/products/extract-pipeline.ipynb", "csv_file": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/data/house_prices.csv"}}
product = {"nb": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/products/cleanup.ipynb", "clean_csv": "/home/luiscberrocal/PycharmProjects/hacktoberfest-2023/kaggle/data/house_prices_clean.csv"}

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(upstream['01-get']['csv_file'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [6]:
df.isna().sum()

## %%
# Rename columns to snake case
renamed_mapping = {}
for c in df.columns:
    new_c_name = re.sub('[^0-9a-zA-Z_]+', '', c)
    renamed_mapping[c] = new_c_name.lower()  # .replace(' ', '_').replace('(', '').replace(')', '')
renamed_mapping['targetprice_in_lacs'] = 'target_price_in_lacs'

df = df.rename(columns=renamed_mapping)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   posted_by            29451 non-null  object
 1   under_construction   29451 non-null  int64
 2   rera                 29451 non-null  int64
 3   bhk_no               29451 non-null  int64
 4   bhk_or_rk            29451 non-null  object
 5   square_ft            29451 non-null  float64
 6   ready_to_move        29451 non-null  int64
 7   resale               29451 non-null  int64
 8   address              29451 non-null  object
 9   longitude            29451 non-null  float64
 10  latitude             29451 non-null  float64
 11  targetprice_in_lacs  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [7]:
df['posted_by'].value_counts()

posted_by
Dealer     18291
Owner      10538
Builder      622
Name: count, dtype: int64

In [8]:
df['bhk_or_rk'].value_counts()

bhk_or_rk
BHK    29427
RK        24
Name: count, dtype: int64

In [9]:
df = pd.get_dummies(df, columns=['posted_by', 'bhk_or_rk'])

In [10]:
df.head()

,under_construction,rera,bhk_no,square_ft,ready_to_move,resale,address,longitude,latitude,targetprice_in_lacs,posted_by_Builder,posted_by_Dealer,posted_by_Owner,bhk_or_rk_BHK,bhk_or_rk_RK
0,0,0,2,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,False,False,True,True,False
1,0,0,2,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0,False,True,False,True,False
2,0,0,2,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,False,False,True,True,False
3,0,1,2,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,False,False,True,True,False
4,1,0,2,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,False,True,False,True,False

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   under_construction   29451 non-null  int64
 1   rera                 29451 non-null  int64
 2   bhk_no               29451 non-null  int64
 3   square_ft            29451 non-null  float64
 4   ready_to_move        29451 non-null  int64
 5   resale               29451 non-null  int64
 6   address              29451 non-null  object
 7   longitude            29451 non-null  float64
 8   latitude             29451 non-null  float64
 9   targetprice_in_lacs  29451 non-null  float64
 10  posted_by_Builder    29451 non-null  bool
 11  posted_by_Dealer     29451 non-null  bool
 12  posted_by_Owner      29451 non-null  bool
 13  bhk_or_rk_BHK        29451 non-null  bool
 14  bhk_or_rk_RK         29451 non-null  bool
dtypes: bool(5), float64(4), int64(5), object(1)
memory usage: 2.4+ MB

In [12]:
for c in df.columns:
    if df[c].dtype == bool:
        print(f'{c} {df[c].dtype}')
        df[c] = df[c].astype(int)

df.info()

posted_by_Builder bool
posted_by_Dealer bool
posted_by_Owner bool
bhk_or_rk_BHK bool
bhk_or_rk_RK bool
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   under_construction   29451 non-null  int64
 1   rera                 29451 non-null  int64
 2   bhk_no               29451 non-null  int64
 3   square_ft            29451 non-null  float64
 4   ready_to_move        29451 non-null  int64
 5   resale               29451 non-null  int64
 6   address              29451 non-null  object
 7   longitude            29451 non-null  float64
 8   latitude             29451 non-null  float64
 9   targetprice_in_lacs  29451 non-null  float64
 10  posted_by_Builder    29451 non-null  int64
 11  posted_by_Dealer     29451 non-null  int64
 12  posted_by_Owner      29451 non-null  int64
 13  bhk_or_rk_BHK        29451 non-null  int64
 14  bhk_or_rk_RK         29451 non-null  int64
dtypes: float64(4), int64(10), object(1)
memory usage: 3.4+ MB

In [13]:
# 1. hot shoe encoding
# 2. Drop encoded columns
# 3. Extract city
# 4.

In [14]:

df.to_csv(product['clean_csv'], index=False)