# Wrangling House Price data

In [21]:
import sys
import os
import pandas as pd
import seaborn as sns
from pathlib import Path

module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))

module_path = Path.cwd().parent
# print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path)
# print(sys.path)
import settings
# from kaggle import settings

## Configuration

In [24]:
csv_file = settings.APP_FOLDER / 'data' / 'Real_Estate_Sales_2001-2020_GL.csv'

In [25]:
df = pd.read_csv(csv_file)

df.shape

/tmp/ipykernel_2583586/1049389636.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

(997213, 14)

## EDA

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB

### Renaming columns

In [29]:
renamed_mapping = {}

for c in df.columns:
    renamed_mapping[c] = c.lower().replace(' ', '_')

df = df.rename(columns=renamed_mapping)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   serial_number     997213 non-null  int64
 1   list_year         997213 non-null  int64
 2   date_recorded     997211 non-null  object
 3   town              997213 non-null  object
 4   address           997162 non-null  object
 5   assessed_value    997213 non-null  float64
 6   sale_amount       997213 non-null  float64
 7   sales_ratio       997213 non-null  float64
 8   property_type     614767 non-null  object
 9   residential_type  608904 non-null  object
 10  non_use_code      289681 non-null  object
 11  assessor_remarks  149864 non-null  object
 12  opm_remarks       9934 non-null    object
 13  location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB

### Finding categories

In [30]:
df['town'].value_counts()

town
Bridgeport       34201
Stamford         32529
Waterbury        28506
Norwalk          23960
New Haven        21346
                 ...
Hartland           448
Scotland           430
Canaan             429
Union              261
***Unknown***        1
Name: count, Length: 170, dtype: int64

In [31]:
df['property_type'].value_counts()

property_type
Single Family     401612
Condo             105420
Residential        60728
Two Family         26408
Three Family       12586
Vacant Land         3163
Four Family         2150
Commercial          1981
Apartments           486
Industrial           228
Public Utility         5
Name: count, dtype: int64