# Wrangling data

## Confiuration

In [2]:
from pathlib import Path
import pandas as pd
import duckdb as ddb

In [4]:
db_file = Path().cwd() / 'data.duckdb'

print(f'File: {db_file} {db_file.exists()}')

File: /home/luiscberrocal/PycharmProjects/hactoberfest-2023/src/etl/data.duckdb True

### Loading data

In [5]:
conn = ddb.connect(str(db_file))

In [6]:
conn.sql('SHOW ALL TABLES;')

┌──────────┬─────────┬────────────┬──────────────────────┬─────────────────────────────────────────────────┬───────────┐
│ database │ schema  │    name    │     column_names     │                  column_types                   │ temporary │
│ varchar  │ varchar │  varchar   │      varchar[]       │                    varchar[]                    │  boolean  │
├──────────┼─────────┼────────────┼──────────────────────┼─────────────────────────────────────────────────┼───────────┤
│ data     │ main    │ nycitydata │ [unique_key, creat…  │ [VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR,…  │ false     │
└──────────┴─────────┴────────────┴──────────────────────┴─────────────────────────────────────────────────┴───────────┘

In [9]:
conn.sql('DESCRIBE nycitydata;')

┌──────────────────────────┬─────────────┬─────────┬─────────┬─────────┬───────┐
│       column_name        │ column_type │  null   │   key   │ default │ extra │
│         varchar          │   varchar   │ varchar │ varchar │ varchar │ int32 │
├──────────────────────────┼─────────────┼─────────┼─────────┼─────────┼───────┤
│ unique_key               │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ created_date             │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ agency                   │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ agency_name              │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ complaint_type           │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ descriptor               │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ location_type            │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ incident_zip             │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ incident_address         │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ street_name              │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│    ·                     │    ·        │  ·      │  ·      │  ·      │    ·  │
│    ·                     │    ·        │  ·      │  ·      │  ·      │    ·  │
│    ·                     │    ·        │  ·      │  ·      │  ·      │    ·  │
│ landmark                 │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ closed_date              │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ bridge_highway_name      │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ bridge_highway_segment   │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ bridge_highway_direction │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ facility_type            │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ taxi_pick_up_location    │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ road_ramp                │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ due_date                 │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ community_board          │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
├──────────────────────────┴─────────────┴─────────┴─────────┴─────────┴───────┤
│ 44 rows (20 shown)                                                 6 columns │
└──────────────────────────────────────────────────────────────────────────────┘

In [14]:
df = conn.sql('SELECT * FROM nycitydata;').df()

In [15]:
df.shape

(1000, 44)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      1000 non-null   object
 1   created_date                    1000 non-null   object
 2   agency                          1000 non-null   object
 3   agency_name                     1000 non-null   object
 4   complaint_type                  1000 non-null   object
 5   descriptor                      1000 non-null   object
 6   location_type                   917 non-null    object
 7   incident_zip                    987 non-null    object
 8   incident_address                963 non-null    object
 9   street_name                     963 non-null    object
 10  cross_street_1                  891 non-null    object
 11  cross_street_2                  889 non-null    object
 12  address_type                    994 non-null    object
 13  city                            926 non-null    object
 14  status                          1000 non-null   object
 15  resolution_description          672 non-null    object
 16  resolution_action_updated_date  728 non-null    object
 17  community_board                 1000 non-null   object
 18  bbl                             866 non-null    object
 19  borough                         1000 non-null   object
 20  x_coordinate_state_plane        980 non-null    object
 21  y_coordinate_state_plane        980 non-null    object
 22  open_data_channel_type          1000 non-null   object
 23  park_facility_name              1000 non-null   object
 24  park_borough                    1000 non-null   object
 25  latitude                        980 non-null    object
 26  longitude                       980 non-null    object
 27  location                        980 non-null    object
 28  :@computed_region_efsh_h5xi     979 non-null    object
 29  :@computed_region_f5dn_yrer     980 non-null    object
 30  :@computed_region_yeji_bk3q     980 non-null    object
 31  :@computed_region_92fq_4b7q     980 non-null    object
 32  :@computed_region_sbqj_enih     980 non-null    object
 33  intersection_street_1           852 non-null    object
 34  intersection_street_2           850 non-null    object
 35  landmark                        767 non-null    object
 36  closed_date                     564 non-null    object
 37  bridge_highway_name             12 non-null     object
 38  bridge_highway_segment          12 non-null     object
 39  bridge_highway_direction        4 non-null      object
 40  facility_type                   71 non-null     object
 41  taxi_pick_up_location           5 non-null      object
 42  road_ramp                       1 non-null      object
 43  due_date                        1 non-null      object
dtypes: object(44)
memory usage: 343.9+ KB

In [18]:
df.sample(5)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,intersection_street_2,landmark,closed_date,bridge_highway_name,bridge_highway_segment,bridge_highway_direction,facility_type,taxi_pick_up_location,road_ramp,due_date
124,58870961,2023-09-21T01:09:25.000,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11236,1312 EAST 91 STREET,EAST 91 STREET,...,AVENUE K,EAST 91 STREET,2023-09-21T01:30:49.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,58879799,2023-09-20T22:45:55.000,DSNY,Department of Sanitation,Street Sweeping Complaint,Street Not Swept,Street,11237,66 KNICKERBOCKER AVENUE,KNICKERBOCKER AVENUE,...,GRATTAN STREET,KNICKERBOCKER AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,58872908,2023-09-21T01:56:39.000,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11233,1792 EASTERN PARKWAY,EASTERN PARKWAY,...,DEAN STREET,EASTERN PARKWAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,58878985,2023-09-21T00:12:21.000,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11218,70 EAST 8 STREET,EAST 8 STREET,...,KERMIT PLACE,EAST 8 STREET,2023-09-21T00:57:03.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,58881148,2023-09-21T01:54:54.000,DSNY,Department of Sanitation,Litter Basket Request,Replacement Basket,Street,11418,121-09 JAMAICA AVENUE,JAMAICA AVENUE,...,122 STREET,JAMAICA AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df['location_type'].value_counts()

location_type
Street/Sidewalk                  434
Residential Building/House       191
RESIDENTIAL BUILDING              71
Club/Bar/Restaurant               46
Street                            39
Store/Commercial                  35
Sidewalk                          30
Other (Explain Below)             14
Subway                            12
3+ Family Apt. Building            8
Park/Playground                    5
Business                           5
Vacant Lot                         4
1-2 Family Dwelling                3
3+ Family Apartment Building       3
Commercial Building                2
Other                              2
Taxi                               2
Restaurant/Bar/Deli/Bakery         2
Park                               2
1-2 Family Mixed Use Building      1
Above Address                      1
House of Worship                   1
Residential                        1
Parking Lot/Garage                 1
Catch Basin/Sewer                  1
Lot                                1
Name: count, dtype: int64

In [ ]:
erm2-nwe9.json